* {
    padding: 0;
    margin: 0;
}

:root{
    font-family: "Alice", serif;
    line-height: 150%;
}

body{
    background-image: url(assets/bg-image.jpg);
    background-size: cover;
}

#page{
    box-sizing: border-box;
    padding: 24px;
    width: 800px;
    height: 1440px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
}

#obs{
    margin-top: 12px;
}

main{
    padding: 24px;
}

ul{
    padding-left: 24px;
}

section + section{
    margin-top: 24px;
}

h1{
    line-height: 140%;
    font-size: 40px;
    color: #291B1A;
    padding: 4px;
}

h2{
    font-size: 22px;
    color: #291B1A;
    padding: 4px;
}

footer{
    text-align: center;
    color: rgb(0, 7, 14);
    padding-bottom: 48px;
}